
.header-container {
    display: flex;
    background-color:#0E2039 ;
    height: 70px;
}

.logo {
    margin: 10px;
    max-width: 10%;
    border-radius: 50%;
}

.header-titulo {
    margin: 20px;
    color: white;
}

.content-titulos {
    margin-left: 80px;
    margin-top: 50px;
}

.titulo-padre {
    font-size: 50px;
}

.parrafo {
    background-color: #E5F6FD;
    max-width: 1150px;
}

.container-content {
    display: flex;

}

.container-butons {
    display: flex;
    flex-direction: column; 
    gap: 10px;
    align-items: start;
    margin-top: 60px;
    margin-left: 80px;
}

.logo-content {
    display: flex;
    margin-left: 200px;
    max-width: 400px;
}

.buton-home {
    background-color: #0E2039;
    color: white;
    width: 400px;
    height: 50px;
    border: whitesmoke;
    cursor: pointer;
    clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
}

.buton-home:hover {
    background-color: #2C3E5E;
}

.buton-alertas-home {
    background-color: #2C3E5E;
    color: white;
    width: 300px;
    height: 50px;
    border: none;
}

.boton-inicio {
    background-color: #0E2039;
    color: white;
    width: 200px;
    border: none;
    border-radius: 10px;
    height: 30px;
    cursor: pointer;
    margin-left: 1030px;
}

.boton-inicio:hover {
    background-color: #2C3E5E;
}

